body{
    background-color: rgb(20, 22, 16);
    text-align: center;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    margin-top: 20px;
}
h1{
    color: goldenrod;
}
#b1,#b2{
    background-color: goldenrod;
    color:#0a0a0a;
    width:150px;
    height:28px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-style: bold;
    font-size: large;
    border-style: double;
    border-radius: 10px;
    margin-top: 10px;
}
